<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
</head>
<style>
    h1 {text-align: center;}
</style>
<body>
    
        <div class="header_content" >
            <h1 style="color:rgb(3, 25, 76);"padding:40px 40px;><b>Predictive Incident Management </b></h1>
            <br><br>

            <label for="EnvorCR" style="margin-left:100px">Select the option to proceed further:</label>
            <select name="EnvorCR" id="EnvorCR">
            <option value=" ">  - - - -  Select - - - -  </option>    
            <option value="Change Request">Change Request</option>
            <option value="Environmental Change">Environmental Change</option>
            </select> 

            <br><br>
            <!-- Action is where the data is sent. In our case, predict page.
            If action is omitted, it assumed to be the current page -->
            <form id="form1" name="form1" method="post" action="/">
                <div class="left"  style="margin-left:100px">
                    <br><br>
                    <label for="description">Enter the change description :</label>
                    <textarea rows = "5" cols = "60" name = "description"   placeholder="  text here  " required="required"></textarea><br>
                    <!--<input type="text" name="description" placeholder="text here" required="required" /><br>-->
                </div>

                <br><br><br>

                <div class="center" style="margin-left:100px">
                    <label for="Impact">Select the impact of change :</label>
                    <input type="radio" name="Impact" value="1 - Major">Major
                    <input type="radio" name="Impact" value="2 - High">High
                    <input type="radio" name="Impact" value="3 - Medium">Medium
                    </div>
                <br><br>
        
                <button style="margin-left:300px"; type="submit" class="btn btn-primary btn-block btn-large "  style="padding:10px 30px" margin-left="40px 40px" >Predict</button></p>
            </form>
        
            <br>
            <br>
            <h2 style="color:rgb(53, 6, 10);"> Predictions </h2>
            <h4 style="color:rgb(53, 6, 10);">
            {{ prediction_text }} </h4>
        
        </div>
</body>
</html>
<script type="text/javascript",type="application/javascript">
   $(document).ready(function() {
           // document.write("Hello, World! We are using Uncompressed jQuery.");
           //alert("Hi");

           $("#EnvorCR").change(function(){
                if($("#EnvorCR").val() == "Change Request"){
                        alert("redirect to CR");
                        document.form1.action = "change_request";
                }
                else if ($("#EnvorCR").val() == "Environmental Change"){
                    alert("redirect to Environmental Change");
                    document.form1.action = "env_change";
                }
           });

           
         });
</script>